test --test_output=errors

# Isolate sandboxed build actions from each other.
build --sandbox_tmpfs_path=/tmp

# Prevent PATH from being inherited from the environment.
build --incompatible_strict_action_env
