test --test_output=errors

# Isolate sandboxed build actions from each other.
build --sandbox_tmpfs_path=/tmp

# Full PATH is needed for tests and flipping this separately for test would duplicate build actions.
build --noincompatible_strict_action_env

build --java_language_version=8
build --tool_java_language_version=8

# Required for layering_check.
build:ci --repo_env=CC=clang
build:ci --features=layering_check

build:bzlmod --enable_bzlmod
build:workspace --noexperimental_enable_bzlmod

# General coverage setup.
coverage --repo_env=CC=clang
coverage --repo_env=BAZEL_USE_LLVM_NATIVE_COVERAGE=1
coverage --repo_env=GCOV=llvm-profdata
coverage --combined_report=lcov
coverage --experimental_use_llvm_covmap
coverage --experimental_generate_llvm_lcov
coverage --test_tag_filters=-no-coverage
coverage --instrumentation_filter=^//analysis/cc_jni_library[/:],^//analysis/jni_headers[/:],^//libjvm_stub[/:],^//native_loader/src/main[/:]

coverage:ci --repo_env=CC=clang-14
coverage:ci --repo_env=GCOV=llvm-profdata-14
coverage:ci --repo_env=BAZEL_LLVM_COV=llvm-cov-14
