import ../.bazelrc

# General coverage setup.
coverage --repo_env=CC=clang
coverage --repo_env=BAZEL_USE_LLVM_NATIVE_COVERAGE=1
coverage --repo_env=GCOV=llvm-profdata
coverage --combined_report=lcov
coverage --experimental_use_llvm_covmap
coverage --experimental_generate_llvm_lcov
coverage --test_tag_filters=-no-coverage

coverage:ci --repo_env=CC=clang-14
coverage:ci --repo_env=GCOV=llvm-profdata-14
coverage:ci --repo_env=BAZEL_LLVM_COV=llvm-cov-14
